html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16pt;
    font-family: ubuntu, sans-serif;
    color: white;
    background-color: #101420;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 70%;
  height: 95%;

}

#world-map {
  position: absolute;
  top: 0;
  left: 0;
  top: 100px;
  width: 100%;
}

#main-table {
  border-spacing: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.time-item {
  width: 5em;
  font-size: 25pt;
  font-weight: normal;
}

.time-label {
  font-weight: bold;
}
